<div class="d-grid gap-2 col-6 mx-auto">
    <figure class="text-center">
        <h1>New cat</h1>
    </figure>
<form #catPost="ngForm" (ngSubmit)="onSubmit(catPost.value)">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" ngModel>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="colour" class="col-sm-2 col-form-label">Colour</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="colour" name = "colour" ngModel>
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">

    <button type="submit" class="btn btn-dark">Submit</button>

    </div>
</form>
   <div class="d-grid justify-content-md-end">
        <a href="/catlist" class="btn btn-outline-dark" type="button">Back</a>
    </div>
</div>
